body.dark {
    --bg-color: #121212;
    --text-color: #f4f4f4;
    --card-bg: #1e1e1e;
    --header-bg: #1c1c1c;
    --input-bg: #2a2a2a;
    --input-text: #f4f4f4;
    --input-border: #555;
  }
  
  body.dark input,
  body.dark textarea {
    background-color: var(--input-bg);
    color: var(--input-text);
    border-color: var(--input-border);
  }
  
  body.dark ::placeholder {
    color: #888;
  }
  
  body.dark nav a {
    color: #f4f4f4;
  }
  
  body.dark .accordion-btn {
    background: #2a2a2a;
    color: #f4f4f4;
  }
  
  body.dark .error {
    color: #ff6b6b;
  }
  body.dark .card {
    background-color: #1e1e1e;
  }